<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.jmi.escort.dao.BlackSyncRuleMapper">
    <resultMap id="BaseResultMap" type="blackSyncRule">
        <id column="id" property="id"/>
        <result column="orderType" property="orderType"/>
        <result column="timeInterval" property="timeInterval"/>
        <result column="num" property="num"/>
        <result column="status" property="status"/>
        <result column="created" property="created"/>
        <result column="modified" property="modified"/>
        <result column="modifyUser" property="modifyUser"/>
    </resultMap>
    <sql id="Base_Column_List">
    id,orderType,timeInterval,num,status,created,modified,modifyUser
  </sql>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from black_sync_rule
        where id = #{id} and status != -1
    </select>
    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from black_sync_rule
        where status != -1
        order by modified desc
    </select>
    <select id="getEnabledByOrderType" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from black_sync_rule
        where status=1 and orderType=#{orderType}
    </select>
    <select id="getByOrderType" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from black_sync_rule
        where status != -1
        and orderType=#{orderType}
    </select>
    <insert id="insert" parameterType="blackSyncRule">
    insert into black_sync_rule ( orderType,
      timeInterval, num, status, created,
      modified, modifyUser)
    values ( #{orderType},
      #{timeInterval}, #{num}, #{status}, now(),
      now(), #{modifyUser})
  </insert>
    <update id="updateById" parameterType="blackSyncRule">
    update black_sync_rule
    set orderType = #{orderType},
      timeInterval = #{timeInterval},
      num = #{num},
      status = #{status},
      modified = now(),
      modifyUser = #{modifyUser}
    where id = #{id}
  </update>
    <update id="updateStatusById" parameterType="blackSyncRule">
        update black_sync_rule
        set status = #{status},
        modified = now(),
        modifyUser = #{modifyUser}
        where id = #{id}
  </update>
</mapper>