<div id="brandIdTem" style="display: none">
    <div class="form-inline" id="{id}_data">
        <input name="conditionName" type="hidden" value="{cName}"/>
        <div class="form-group">
            <label class="control-label">{name}</label>
        </div>
        <div class="form-group" style="width: 160px;">
            <div>
                <input name="operator" id="{id}_operator" type="hidden" value="in"/>
                <input type="text" name="expectValue" id="{id}_expectValue" value="{expectValue}" class="form-control" style="width:161px;" required="true" maxlength="160">
            </div>
        </div>
        <div class="form-group">
            <div></div>
        </div>
        <div class="form-group">多个以逗号分开</div>
    </div>
</div>