<div class="page-loading-overlay">
    <div class="loader-2"></div>
</div>
<script src="$!manJmiModule.forPath("/").build()xenon/assets/js/bootstrap.min.js" id="script-resource-1"></script>
<script src="$!manJmiModule.forPath("/").build()xenon/assets/js/TweenMax.min.js" id="script-resource-2"></script>
<script src="$!manJmiModule.forPath("/").build()xenon/assets/js/resizeable.js" id="script-resource-3"></script>
<script src="$!manJmiModule.forPath("/").build()xenon/assets/js/joinable.js" id="script-resource-4"></script>
<script src="$!manJmiModule.forPath("/").build()xenon/assets/js/xenon-api.js" id="script-resource-5"></script>
<script src="$!manJmiModule.forPath("/").build()xenon/assets/js/xenon-toggles.js" id="script-resource-6"></script>

<script src='$!manJmiModule.forPath("/").build()xenon/assets/js/jquery-validate/jquery.validate.min.js'></script>
<script src='$!manJmiModule.forPath("/").build()xenon/assets/js/jquery-validate/jquery.validate.cn.min.js'></script>
<script src='$!manJmiModule.forPath("/").build()xenon/assets/js/jquery-ui/jquery-ui.min.js'></script>
<script src='$!manJmiModule.forPath("/").build()xenon/assets/js/selectboxit/jquery.selectBoxIt.min.js'></script>
<script src='$!manJmiModule.forPath("/").build()xenon/assets/js/rwd-table/js/rwd-table.min.js'></script>


<!-- JavaScripts initializations and stuff -->
<script src="$!manJmiModule.forPath("/").build()xenon/assets/js/xenon-custom.js"></script>
<script src="$!manJmiModule.forPath("/").build()xenon/assets/js/jmi-custom.js"></script>
