<!-- 虚拟新用户-->
<div id="newUserTem">
    <div class="form-inline" id="{id}_data">
        <input name="conditionName" type="hidden" value="{cName}"/>
        <div class="form-group">
            <label class="control-label">{name}</label>
        </div>
        <div class="form-group" style="width: 160px;">
            <div>
                <input name="operator" id="{id}_operator" type="hidden" value="=="/>
                <select name="expectValue" id="{id}_expectValue" class="form-control" style="display: none;">
                    #getaAskEnums(1)
                </select>
            </div>
        </div>
        <div class="form-group">（是否没有在虚拟购买过任何商品&服务）</div>
    </div>
</div>