.Cal {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #ddd;
    background: #fff;
    z-index: 666
}

.Cal table {
    width: 240px;
    background: #fff;
    border-collapse: collapse;
    font: 12px verdana
}

.Cal table tbody td {
    text-align: center;
    height: 24px;
    width: 32px;
    line-height: 24px;
    color: #ccc;
    font-family: "Microsoft yahei"
}

.Cal table thead th {
    text-align: center;
    height: 24px;
    line-height: 24px;
    padding-bottom: 5px;
    font-family: "Microsoft yahei"
}

.Cal table thead .ctrl-next,.Cal table thead .ctrl-prev {
    background: url(../../images/time/cal.png) no-repeat;
}

.Cal table thead .ctrl-prev {
    float: left;
}

.Cal table thead .ctrl-next {
    float: right;
}

.Cal table thead .prevYear {
    background-position: 0 -50px;
}

.Cal table thead .prevMonth {
    background-position: 0 -100px;
}

.Cal table thead .nextYear {
    background-position: 0 -75px;
}

.Cal table thead .nextMonth {
    background-position: 0 -125px;
}

.Cal table thead .prevYear:hover {
    background-position: 0 -150px;
}

.Cal table thead .prevMonth:hover {
    background-position: 0 -200px;
}

.Cal table thead .nextYear:hover {
    background-position: 0 -175px;
}

.Cal table thead .nextMonth:hover {
    background-position: 0 -225px;
}

.Cal table thead .disable.prevYear {
    background-position: 0 -250px;
}

.Cal table thead .disable.prevMonth {
    background-position: 0 -300px;
}

.Cal table thead .disable.nextYear {
    background-position: 0 -275px;
}

.Cal table thead .disable.nextMonth {
    background-position: 0 -325px;
}

.Cal table thead .days {
    background: #eaeaea;
}

.Cal table thead .days th {
    border: 1px solid #eaeaea;
    font-family: "Microsoft yahei";
}

.Cal table td {
    padding: 2px 0;
    border: 1px solid #eaeaea;
    font-family: "Microsoft yahei";
}

.Cal table td span.festival {
    color: red;
}

.Cal table td.date {
    color: #333;
    cursor: pointer;
}

.Cal table td.date.chosen {
    background: #ffae2e;
    color: #fff;
}

.Cal table td.date.over {
    background: #ffc76f;
    color: #fff;
}

.Cal table .selectMonth {
    float: left;
    padding: 0 5px 0 10px;
}

.Cal table .selectMonth select {
    width: 59px;
    font-family: "Microsoft yahei";
}

.Cal table .slecteYear {
    float: left;
}

.Cal table .slecteYear select {
    width: 63px;
    font-family: "Microsoft yahei";
}

.Cal table .today {
    display: block;
    padding: 4px 0;
    background-color: #f9f9f9;
    color: #005ea7;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

.Cal table .J-sat,.Cal table .J-sun {
    color: #e43f43;
}

.Cal .close {
    display: none;
}